<html>
<body>
This website has been made with a minimalistic interface. The idea is to provide a clean UI, to enhance user confidence that all passwords generated here are unmonitored and secured. To generate confidence, the code for the website itself has been hosted on github. Please feel free to reach out.

<form action="/passwd" method="GET">
<p><input type="text" id="passwdLen" name="passwdLen" size="20" placeholder="Enter passphrase length"></p>
<p><input type = "submit" value = "Submit" /></p>
</form>
<body>
</html>
